APP_ENV=development

DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=localhost
DB_PORT=5432

CELERY_BROKER_URL=redis://127.0.0.1:6379/0

CACHE_LOCATION=redis://127.0.0.1:6379/1 # "redis://username:password@127.0.0.1:6379/1"

EMAIL_OTP_EXPIRATION=600 # In seconds
CHANGE_PASSWORD_EXPIRATION=300 # In seconds

EMAIL_HOST=email_host
EMAIL_HOST_USER=email_host_user
EMAIL_HOST_PASSWORD=eamil_host_password

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=